/* Write your CSS here */
* {
  margin: 0;
}
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 15px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
  padding: 15px;
  font-weight: 600;
}
.tag-name {
  color: #334155;
  font-family: 'Roboto';
  padding: 10px;
}
.toss-image {
  height: 160px;
  width: 160px;
  padding: 15px;
}
.toss-button {
  border: 1px solid #f9d423;
  background-color: #f9d423;
  padding: 5px 8px;
  color: #a35200;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'roboto';
  margin: 10px 0;
}
.toss-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toss-type {
  color: #475569;
  font-family: 'roboto';
  padding: 10px;
  font-size: 15px;
}
